@page "/Auth/Login"

<PageTitle>@App.ApplicationTitle("Login")</PageTitle>

<FluentCard Class="login-form">

    <EditForm Model="@_loginModel" OnValidSubmit="@CheckCredential" FormName="LoginForm">
        <DataAnnotationsValidator />

        <h3 class="text-center">Enter data to use app</h3>
        <FluentGrid Spacing="1" AdaptiveRendering="true" Justify="JustifyContent.Center">
            <FluentGridItem xs="12" sm="12" xl="12">
                <div class="card">
                    <FluentSelect Class="full-width" Appearance="Appearance.Stealth" Items="@enginesList" TOption="EngineName" Required="true" @onchange="((e)=> _loginModel.Engine = (EngineName)Enum.Parse(typeof(EngineName), e.Value.ToString()))"></FluentSelect>
                    <FluentValidationMessage For="@(() => _loginModel.Engine)" />
                </div>
            </FluentGridItem>

            @if (_loginModel.Engine == EngineName.MARIADB)
            {
                <FluentGridItem xs="12" sm="12" xl="12">
                    <div class="card">
                        <FluentTextField Class="full-width" Name="DB Version" @bind-Value="_loginModel.DBVersion" Label="DB Version" Id="DBVersion" />
                        <FluentValidationMessage For="@(() => _loginModel.DBVersion)" />
                    </div>
                </FluentGridItem>
            }

            <FluentGridItem xs="12" sm="12" xl="12">
                <div class="card">
                    <FluentTextField Class="full-width" Name="Server Address" @bind-Value="_loginModel.ServerAddress" Label="Server Address" Id="ServerAddress" Required />
                    <FluentValidationMessage For="@(() => _loginModel.ServerAddress)" />
                </div>
            </FluentGridItem>
            <FluentGridItem xs="12" sm="12" xl="12">
                <div class="card">
                    <FluentTextField Class="full-width" Name="Server Port" @bind-Value="_loginModel.DBPort" Label="DB Port" Id="DBPort" Required />
                    <FluentValidationMessage For="@(() => _loginModel.DBPort)" />
                </div>
            </FluentGridItem>
            <FluentGridItem xs="12" sm="12" xl="12">
                <div class="card">
                    <FluentTextField Class="full-width" Name="Username" @bind-Value="_loginModel.Username" Label="Username" Id="Username" Required />
                    <FluentValidationMessage For="@(() => _loginModel.Username)" />
                </div>
            </FluentGridItem>
            <FluentGridItem xs="12" sm="12" xl="12">
                <div class="card">
                    <FluentTextField Class="full-width" TextFieldType="TextFieldType.Password" Name="Password" @bind-Value="_loginModel.Password" Label="Password" Id="Password" Required />
                    <FluentValidationMessage For="@(() => _loginModel.Password)" />
                </div>
            </FluentGridItem>
            <FluentGridItem xs="12" sm="12" xl="12">
                <div class="card">
                    <FluentValidationSummary />
                    <FluentButton Type="ButtonType.Submit" IconStart="@(new Icons.Regular.Size20.LockClosed())" Appearance="@Microsoft.FluentUI.AspNetCore.Components.Appearance.Accent" Disabled="@_processing">@(_processing ? "Processing..." : "Login")</FluentButton>
                </div>
            </FluentGridItem>

        </FluentGrid>

    </EditForm>

</FluentCard>