@page "/"
@using DynamicDbReport.DTO.Models.SQLModels
@using DynamicDbReport.DTO.Shared
@using DynamicDbReport.UI.PrivateServices
@using OfficeOpenXml
@using OfficeOpenXml.Style

@attribute [Authorize]
@inject IToastService toast
@inject ILocalStorageService localStorage

<PageTitle>@App.ApplicationTitle("Home")</PageTitle>


<div style="width:100%">
    <FluentToolbar style="width:100%">
        <FluentButton Style="margin: 0 5px" Title="Open script"><FluentIcon Value="@(new Icons.Regular.Size20.OpenFolder())" Color="Color.Accent" Title="Open script" /></FluentButton>
        <FluentButton Style="margin: 0 5px" Title="Save As.."><FluentIcon Value="@(new Icons.Regular.Size20.Save())" Color="Color.Accent" Title="Save As.." /></FluentButton>
        <FluentButton Style="margin: 0 5px" Title="Export result" OnClick="ExportToExcel"><FluentIcon Value="@(new Icons.Regular.Size20.DocumentSave())" Color="Color.Accent" Title="Export result" /></FluentButton>

        <FluentDivider Style="height: 50px;" Role="DividerRole.Presentation" Orientation="Orientation.Vertical"></FluentDivider>

        <FluentButton Appearance="Appearance.Accent" IconEnd="@(new Icons.Regular.Size20.Send())" Disabled="_processing" OnClick="ExecuteScripts">@(_processing ? "Executing..." : "Execute")</FluentButton>
        <FluentCheckbox @bind-Value="executeScript.NoCount" Label="No Count" />

        <FluentDivider Style="height: 50px;" Role="DividerRole.Presentation" Orientation="Orientation.Vertical"></FluentDivider>

        <FluentRadioGroup @bind-Value=showAsGrid TValue="bool">
            <FluentRadio Value="true">Grid</FluentRadio>
            <FluentRadio Value="false">Text</FluentRadio>
        </FluentRadioGroup>
    </FluentToolbar>
</div>


<FluentSplitter Orientation="@Orientation.Vertical" BarSize="6" Panel1MinSize="20%" Panel2MinSize="20%" Style="height:100%;width:100%;">
    <Panel1>
        <FluentTextArea Appearance="FluentInputAppearance.Filled" Rows="25" @bind-Value=executeScript.QueryToExecute style="width: 100%;max-height:100%;min-height:100%;"></FluentTextArea>
    </Panel1>
    <Panel2>
        <FluentTabs ShowActiveIndicator=false ActiveTabId="@selectedTab">

            <FluentTab Id="TabTwo" Label="Results">
                @if (hasResult && executeRespones?.ResponseData?.Columns is not null && executeRespones.ResponseData.Columns.Count > 0)
                {
                    <table>
                        <thead>
                            <tr>
                                @foreach (var j in executeRespones.ResponseData.Columns)
                                {
                                    <td>@j.ColumnName (@j.ColumnType)</td>
                                }
                            </tr>
                        </thead>

                        <tbody>
                            @if (executeRespones?.ResponseData?.Rows is not null && executeRespones.ResponseData.Rows.Count > 0)
                            {
                                @foreach (var j in executeRespones.ResponseData.Rows)
                                {
                                    <tr>
                                        @foreach (var k in j)
                                        {
                                            <td>@k</td>
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                }
            </FluentTab>


            <FluentTab Id="TabOne" Label="Messages">
                @executeRespones.ResponseData.ResponesMessage
            </FluentTab>
        </FluentTabs>
    </Panel2>
</FluentSplitter>




@code {

    [Inject] private HttpClientHelper http { get; set; }
    [Inject] private IJSRuntime _js { get; set; }

    bool showAsGrid = true;
    bool hasResult = false;
    bool _processing = false;
    string selectedTab = "TabOne";
    private ExecuteScriptRequest executeScript;
    private ExecuteScriptResponse executeRespones;
    protected override void OnInitialized()
    {
        executeScript = new();
        executeRespones = new() { ResponseData = new() { Columns = [], Rows = [] } };
    }

    private async Task ExecuteScripts()
    {
        if (string.IsNullOrEmpty(executeScript.QueryToExecute) || executeScript.QueryToExecute == "")
        {
            toast.ShowError("No query to execute");
            return;
        }

        if (!await localStorage.ContainKeyAsync("dbMember"))
        {
            toast.ShowError("Login again");
            return;
        }
        executeScript.Credential = await localStorage.GetItemAsync<CredentialRequest>("dbMember");

        if (executeScript?.Credential is null || string.IsNullOrEmpty(executeScript.Credential.DbName) || executeScript.Credential.DbName == "")
        {
            toast.ShowError("Select DB first");
            return;
        }

        _processing = true;
        executeRespones = await http.HttpClientReceiveAsync<ExecuteScriptResponse>(HttpMethod.Post, "SQLFunctions/ExecuteScript", executeScript.ToJsonString());
        _processing = false;

        if (executeRespones?.ResponseData?.Columns is null || executeRespones.ErrorException is not null || !executeRespones.SuccessAction)
        {
            toast.ShowError(executeRespones?.ErrorException?.ErrorMessage ?? "Cannot connect to server");
            return;
        }

        hasResult = true;
        selectedTab = "TabTwo";

        StateHasChanged();
    }

    private async Task ExportToExcel()
    {
        if (executeRespones?.ResponseData?.Columns is null || executeRespones.ResponseData.Columns.Count == 0 || executeRespones?.ResponseData?.Rows is null || executeRespones.ResponseData.Rows.Count == 0)
        {
            toast.ShowError("No data to show");
            return;
        }

        byte[] excellBytes;
        var stream = new MemoryStream();
        using (var package = new ExcelPackage(stream))
        {
            var workSheet = package.Workbook.Worksheets.Add("DD_R_1");
            workSheet.Row(1).Height = 20;
            workSheet.Row(1).Style.HorizontalAlignment = ExcelHorizontalAlignment.Center;
            workSheet.Row(1).Style.Font.Bold = true;

            for (int i = 0; i < executeRespones.ResponseData.Columns.Count; i++)
            {
                workSheet.Cells[1, i + 1].Value = executeRespones.ResponseData.Columns[i].ColumnName;
            }

            for (int row = 0; row < executeRespones.ResponseData.Rows.Count; row++)
            {
                for (int i = 0; i < executeRespones.ResponseData.Rows[row].Count; i++)
                {
                    workSheet.Cells[row + 2, i + 1].Value = executeRespones.ResponseData.Rows[row][i];
                }
            }

            package.Save();
            excellBytes = package.GetAsByteArray();
        }

        await _js.InvokeVoidAsync("downloadFileFromStream2", $"DataExport-{DateTime.Now:yyyyMMddHHmmssfff}.xlsx", Convert.ToBase64String(excellBytes));
    }


}